/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 4, 2015, 10:34:27 PM
    Author     : tamas.csaba@gmail.com
*/


body {
    color: #607D8B;
}

th {
    text-align: left;
}

td {
    vertical-align: central;
    text-align: left;
}

.short {
    width: 150px;
}

.shorter {
    width: 2em;
}
.title {
    color: #607D8B;
    font-size: 2em;
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
    font-style: normal;
    text-align: right;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-right: 0.3em;
    margin-left: 1em;
    line-height: 100%;
}

.caption {
    color: #607D8B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

p {
    text-align: right;
    margin-top: 0.4em;
    margin-bottom: 1em;
    margin-right: 0.3em;
    margin-left: 1em;
}

p.small {
    text-align: inherit;
    margin: 0em;
    font-size: 1em;
    font-stretch: normal;
}
.right {
    float: right;
    margin-top: 0.4em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

.left {
    float: left;
}

.center {
    position: relative;
    top: 50%;
    transform: translateY(30%);
    //border: 1px solid red;
}


.box {
    position:relative;
    //border:  1px solid red;
    width: 100%;
    height: 100%;
}

.ctrlbutton {
    position:fixed;
    display: block;
    bottom:0;
    right:0;
    margin-top: 0.4em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    z-index: 999;
}
/*
The device card styles, which are used when devices are listed
*/
.device-card.mdl-card {
    width: 200px;
    height: 165px;
    //background: #46B6AC;
    background: #9E9E9E;
}
.device-card > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}
.device-card > .mdl-card__title {
    align-items: flex-start;
}
.device-card > .mdl-card__title > h4 {
    margin-top: 0;
}
.device-card > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.device-card > .mdl-card__title,
.device-card > .mdl-card__actions,
.device-card > .mdl-card__actions > .mdl-button {
    color: #fff;
}

.device-card-square.mdl-card {
    width: 280px;
    height: 220px;
}
.device-card-square > .mdl-card__title {
    color: #fff;
    background:
        url('../img/box_sm.png') bottom right 0% no-repeat #9E9E9E;
}

.pie-chart {
    align-items: center;
}
.pie-chart:nth-child(1) {
    color: #ACEC00;
}
.pie-chart:nth-child(2) {
    color: #00BBD6;
}
.pie-chart:nth-child(3) {
    color: #BA65C9;
}
.pie-chart:nth-child(4) {
    color: #EF3C79;
}

.service-card-wide.mdl-card {
    position: relative;
    width: 100%;
    margin-top: 0.4em;
    margin-bottom: 1em;
}
.service-card-wide > .mdl-card__title {
  color: #fff;
  height: 120px;
  background: url('../img/service_card.jpg') center / cover;
}
.service-card-wide > .mdl-card__menu {
  color: #fff;
}