/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 4, 2015, 10:34:27 PM
    Author     : tamas.csaba@gmail.com
*/


body {
    color: #607D8B;
}

.title {
    color: #607D8B;
    font-size: 2em;
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
    font-style: normal;
    text-align: right;
    margin-top: 0.4em;
    margin-bottom: 1em;
    margin-right: 0.3em;
    margin-left: 1em;
}

.right {
    float: right;
    margin-top: 0.4em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    
}
/*
The device card styles, which are used when devices are listed
*/
.device-card.mdl-card {
    width: 200px;
    height: 165px;
    background: #46B6AC;
}
.device-card > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}
.device-card > .mdl-card__title {
    align-items: flex-start;
}
.device-card > .mdl-card__title > h4 {
    margin-top: 0;
}
.device-card > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.device-card > .mdl-card__title,
.device-card > .mdl-card__actions,
.device-card > .mdl-card__actions > .mdl-button {
    color: #fff;
}